<header>
  <nav class="navbar bg-dark navbar-dark fixed-top" data-bs-theme="dark">
    <div class="container">
      <h4 class="navbar-text">
        To-Do Application
        <small class="text-body-secondary"> - for Sharul Dhawane</small>
      </h4>
    </div>
  </nav>
</header>

<main class="flex-shrink-0 mb-5">
  <div class="container">
    <app-task-editor class="row mt-5"></app-task-editor>
    <div class="row mt-5">
      <div class="d-flex align-items-start">
        <div
          ngbNav
          class="nav-pills flex-column"
          orientation="vertical"
          [activeId]="route.fragment | async"
        >
          <ng-container [ngbNavItem]="link.fragment" *ngFor="let link of links">
            <a ngbNavLink routerLink="/" [fragment]="link.fragment">
              {{ link.title }}
            </a>
          </ng-container>
        </div>
        <router-outlet class="ms-4"></router-outlet>
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3 bg-body-tertiary">
  <div class="container">
    <span class="text-body-secondary">
      Verificient Technologies' ToDo Application | Sharul Dhawane |
      <a href="mailto:sharuldhawane@gmail.com">sharuldhawane@gmail.com</a>
    </span>
  </div>
</footer>
